<!-- File: chapter6/public/http-post-example.html -->
<html ng-app="notesApp">

<head>
  <title>HTTP Post Example</title>
  <style>
    .item {
      padding: 10px;
    }
  </style>
</head>

<body ng-controller="MainCtrl">
  <h1>Hello Servers!</h1>
  <div ng-repeat="todo in items"
       class="item">
    <div><span ng-bind="todo.label"></span></div>
    <div>- by <span ng-bind="todo.author"></span></div>
  </div>

  <div>
    <form name="addForm"
          ng-submit="add()">
      <input type="text"
             placeholder="Label"
             ng-model="newTodo.label"
             required>
      <input type="text"
             placeholder="Author"
             ng-model="newTodo.author"
             required>
      <input type="submit"
             value="Add"
             ng-disabled="addForm.$invalid">
    </form>
  </div>

<script
  src="angular.min.js">
</script>
<script>
  angular.module('notesApp', [])
    .controller('MainCtrl', function($scope, $http) { 
      
      $scope.items = [];
      $scope.newTodo = {};
	  
      var fetchTodos = function() {
	  
         return $http.get('/api/note').then(
            function(response) {
          $scope.items = response.data;
        }, function(errResponse) {
          console.error('Error while fetching notes');
        });
      };

      fetchTodos();

      $scope.add = function() {
        $http.post('/api/note', $scope.newTodo)
            .then(fetchTodos)
            .then(function(response) {
              $scope.newTodo = {};
            });
      };

    });
</script>
</body>
</html>
