<!DOCTYPE html>
<html >
<head>
<!-- script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js" -->
<script src="angular-1.3.15/angular-1.3.15/angular.min.js">
</script>
<script>

var app=angular.module('myApp', []);
var app2=angular.module('myApp2', []);
app.controller('myCtrl', function ($scope){
	$scope.firstname ="mike";
	$scope.lastname = "peter";
});

app.controller('myCtrl2', function ($scope){
	$scope.firstname ="mike2";
	$scope.lastname = "peter2";
});

</script>
</head>
<body >
<div ng-app="myApp">
	<div ng-controller="myCtrl2">
	<input type="text" ng-model="firstname"> </br>
	<input type="text" ng-model="lastname"> </br>
	
	fullname : {{ firstname + " " +  lastname }}

	</div>
	</div>
	<div ng-app="myApp2">

	<div ng-controller="myCtrl">
	<input type="text" ng-model="firstname"> </br>
	<input type="text" ng-model="lastname"> </br>
	
	fullname : {{ firstname + " " +  lastname }}

</div>
	</div>

</body>
</html>