<a class="brand" href="#"><H3>Home </H3></a> 
	  <!--button  class="btn btn-default" ng-repeat="a1 in apptopics" ng-click="go('/front/'+a1)">{{a1}} </button -->
	<button  class="btn btn-default"  ng-click="setpurpose('Concept')">Concept </button >
	  <button  class="btn btn-default"  ng-click="setpurpose('Business')">Business </button >
	  <!--button  class="btn btn-default"  ng-click="setpurpose('Consulting')">Consulting </button >
	  <button  class="btn btn-default"  ng-click="setpurpose('Training')">Training </button >
	  <button  class="btn btn-default"  ng-click="setpurpose('Support')">Support </button >
	  <button  class="btn btn-default"  ng-click="setpurpose('Marketing')">Marketing </button -->
	  <button  class="btn btn-default"  ng-click="setpurpose('Testing')">Testing </button >
	  
	  
	  
	  
	  <button  class="btn btn-default" data-toggle="modal" data-target="#myModaldiscounter" ui-sref="chequediscounterhelp">Help  </button>
	  
	  
	  
	  
	  		
	  <!-- Modal -->
  <div class="modal fade" id="myModaldiscounter" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Question/Answer </h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
                                            
											
											<label>Contents </label>
											<p> 
											List of common question and answers.
											</p>
											
											<p> 
											List of affiliates to visit
											</p>
											<p> 
											Links for further study
											</p>
											
                                            
		  </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"  data-dismiss="modal">OK</button>
        </div>
      </div>
      
    </div>
  </div>	

	  

	  