<div class="panel panel-primary">
                        <div class="panel-heading">
                            Q/A, Articles, News
							
                        </div>
                        <div class="panel-body">

						<div class="row">
    <div class="col-md-6">

	  <div class="panel panel-default">
                        <div class="panel-heading">
                            Q/A
							
                        </div>
                        <div class="panel-body">

						<div class="row">
    <ul>
	<!-- li ng-repeat="a1 in apptechnologies"> <a href="#/front/{{a1}}"  ng-click="settechnology(a1)"> {{a1}}  </a> </li -->
	<li > <a href="#/front/Bitcoin"  ng-click="settechnology('Bitcoin')"> Bitcoin  </a> </li>
	<li > <a href="#/front/Ethereum"  ng-click="settechnology('Ethereum')"> Ethereum  </a> </li>
	<li > <a href="#/front/Blockchain"  ng-click="settechnology('Blockchain')"> Blockchain  </a> </li>
	<li > <a href="#/front/Angularjs"  ng-click="settechnology('Angularjs')"> Angularjs  </a> </li>
	<!-- li > <a href="#/front/Nodejs"  ng-click="settechnology('Nodejs')"> Nodejs  </a> </li -->
	
	</ul>
  </div>
  
</div>


</div>

  <!--div class="panel panel-default">
                        <div class="panel-heading">
                            News
							
                        </div>
                        <div class="panel-body">

						<div class="row">
    <ul>
	<li > <a href="#/news/Bitcoin"  ng-click="settechnology('Bitcoin')"> Bitcoin  </a> </li>
	<li > <a href="#/news/Ethereum"  ng-click="settechnology('Ethereum')"> Ethereum  </a> </li>
	<li > <a href="#/news/Blockchain"  ng-click="settechnology('Blockchain')"> Blockchain  </a> </li>
	
	</ul>
  </div>
  
</div>
</div -->

	  
	  
	
    </div>
	<div class="col-md-6">
	
	     <div class="panel panel-default">
                        <div class="panel-heading">
                            Affiliates
							
                        </div>
                        <div class="panel-body">
			<a href="https://m.do.co/c/581f396ff0aa" > Get 10$ discount on digitalocean hosting </a>
						<!--div class="row">
    <ul>
	<li > <a href="#/articles/Bitcoin"  ng-click="settechnology('Bitcoin')"> Bitcoin  </a> </li>
	<li > <a href="#/articles/Ethereum"  ng-click="settechnology('Ethereum')"> Ethereum  </a> </li>
	<li > <a href="#/articles/Blockchain"  ng-click="settechnology('Blockchain')"> Blockchain  </a> </li>
	
	</ul>
  </div -->
  
</div>
</div >
  
    </div>
  </div>
  
  
  <div class="row">
    <div class="col-md-8">

	  <div class="panel panel-default">
                        <div class="panel-heading">
                            Earning with bitcoin
							
                        </div>
                        <div class="panel-body">

						<div class="row">
					
   <a href="https://www.bitbond.com/resources/invest/bitcoin-lending/?a=3TEN9V9WS4">
  <img src="https://www.bitbond.com/affiliate-program/invest-rectangle-en.png"
       alt="bitbond bitcoin lending" />
</a>
   
  </div>
  
</div>


</div>

	  
	
    </div>
	<div class="col-md-4">
	
	     
  
    </div>
  </div>
  
  
</div>
</div>

